    body {
    text-align: center; /* centers the title and chart container */
    margin: 0;
    padding: 20px;
    margin: 0;
    padding-top: 20px;
    background: linear-gradient(#ffe5d9, #fff1b6, #b3e0ff, #90e0ef);

    /* background: linear-gradient(#e0f7ff,#c4ecfa ,#90e0ef, #0077b6, #023e8a,#02316f); */
    display: flex;
    justify-content: center; /* center main container horizontally */
    align-items: flex-start; /* keep content at top */
    min-height: 100vh;
    font-family: Arial, sans-serif;
    }


    /* Main centered container */
    .main-container {
    width: 1080px;
    }

    /* Shared style for all section containers (title + charts) */
    .section-container {
    width: 100%;
    background: linear-gradient(to bottom, #ffffff, #e0f7ff);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.3);
    margin-bottom: 20px;
    padding: 20px;
    }

    /* Title container uses same style */
    .title-container h1 {
    font-size: 50px;
    margin: 0;
    padding-top: 10px;
    text-align: center;
    }
    
    .main-title {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    color: black;
    margin: 0 0 10px 0;
    }

    .subtitle {
    font-family: 'Lora', serif;
    font-size: 20px;
    font-style: italic;
    color: #2d2c2c;
    margin-top: 10px;
    }

    /* Chart container (inside main container) */
    .chart-container h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    }

    .chart-row {
    display: flex;
    gap: 20px; /* space between chart and text */
    align-items: flex-start;
    }

    .chart-container {
    flex: 3; /* 75% width (3/4) */
    }

    .text-container {
    flex: 1; /* 25% width (1/4) */
    font-size: 14px;
    color: #341c1c;
    line-height: 1.5; /* consistent vertical spacing */
    text-align: justify; /* even horizontal spacing */
    text-justify: inter-word; /* spreads words evenly */
    }

    .chart-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columns */
    gap: 20px; /* spacing between charts */
    }

    .chart-container p {
    text-align: center;
    position: relative;
    margin-top: 5px;
    font-weight: bold;
    }

    h2 {
        font-family: 'Lora', serif;
        font-size: 2.2rem; /* Larger main title */
        font-weight: 500;  /* Bold */
        margin-bottom: 0.3rem;
        color: black;    /* Optional: a dark color */
    }

    h3 {
        font-family: 'Lora', serif;
        font-size: 1.3rem; /* Smaller subtitle */
        font-weight: 300;  /* Normal weight */
        margin-top: 0;
        margin-bottom: 1rem;
        color: #3b3a3a;       /* Optional: a lighter shade */
    }
body *:not(h1):not(h2):not(h3) {
    font-family: 'Oxygen', sans-serif;
    font-size: 15px;
}